
.solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 800px;
    margin: auto;
    width: 40%;
    top: 50px;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
   
}

